<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Облако</title>
</head>
<body>
    <h1>Чтобы загрузить файл на сервер нажмите на кнопку "Загрузить"</h1>
    <a href="/upload">
      <button class="gradient-button">Загрузить</button>
    </a>

</body>
</html>