<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Загрузка файла</title>
  </head>
  <body>
    <h1>Загрузить файл на сервер</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <button type="submit">Загрузить</button>
    </form>
    {% if duration %}
      <p>Файл загружен за {{ duration }} секунд. Ссылка для скачивания: <a href="{{ download_link }}">{{ download_link }}</a></p>
    {% endif %}
  </body>
</html>
